#exTab3 .nav-pills > li > a {
  border-radius: 4px 4px 0 0 ;
}

#exTab3 .tab-content {
  color : black;
  background-color: #428bca;
  padding : 5px 15px;
}

#wrapper {
  display: flex;    
}

#shops {
  width: 20%;
  float: left;
}

#map {
  height: 400px;
  background-color: grey;
  width: 100%;
}

.shop {
	padding: 20px;
	border: 0px 15px 0px 0px;
	width: 100%;
}

#rightPane {
	width: 80%;
	float: left;
}

#shopInfo {
	width: 100%;
	color: white;
}

footer {
	color: #428bca;
	background-color: white;
	height: 60px;
	padding-top: 10px;
	font-size: 25px;
}